**an effort to add a few more features to Crop recommendation dataset**

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/crop-recommendation-dataset/Crop_recommendation.csv
/kaggle/input/crop-soilcsv/soil.csv
/kaggle/input/fertilizer-npk/inorganic_fertilizers_npk_value.csv

In [ ]:
crop=pd.read_csv("../input/crop-recommendation-dataset/Crop_recommendation.csv")
crop.shape

(2200, 8)

In [ ]:
crop.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [ ]:
crop['N'].describe()

count    2200.000000
mean       50.551818
std        36.917334
min         0.000000
25%        21.000000
50%        37.000000
75%        84.250000
max       140.000000
Name: N, dtype: float64

In [ ]:
crop['P'].describe()

count    2200.000000
mean       53.362727
std        32.985883
min         5.000000
25%        28.000000
50%        51.000000
75%        68.000000
max       145.000000
Name: P, dtype: float64

In [ ]:
crop['K'].describe()

count    2200.000000
mean       48.149091
std        50.647931
min         5.000000
25%        20.000000
50%        32.000000
75%        49.000000
max       205.000000
Name: K, dtype: float64

In [ ]:
crop['label'].describe()

count        2200
unique         22
top       coconut
freq          100
Name: label, dtype: object

In [ ]:
crop['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

# **custom soiltype dataset**

In [ ]:
soil=pd.read_csv("../input/crop-soilcsv/soil.csv")
soil.head()

       crop    soil
0      rice   loamy
1      rice  clayey
2     maize   loamy
3     maize  clayey
4  chickpea   sandy

In [ ]:
soil.rename(columns = {'crop':'label'}, inplace = True)

In [ ]:
soil.head()

      label    soil
0      rice   loamy
1      rice  clayey
2     maize   loamy
3     maize  clayey
4  chickpea   sandy

# final dataset merging

In [ ]:
final = pd.merge(crop, soil, on ='label')

In [ ]:
final.head()

    N   P   K  temperature   humidity        ph    rainfall label    soil
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice   loamy
1  90  42  43    20.879744  82.002744  6.502985  202.935536  rice  clayey
2  85  58  41    21.770462  80.319644  7.038096  226.655537  rice   loamy
3  85  58  41    21.770462  80.319644  7.038096  226.655537  rice  clayey
4  60  55  44    23.004459  82.320763  7.840207  263.964248  rice   loamy

In [ ]:
final.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,4200.000000,4200.000000,4200.000000,4200.000000,4200.000000,4200.000000,4200.000000
mean,50.602857,53.564286,47.132619,25.251938,66.006550,6.461486,112.217093
std,35.424926,30.262182,46.234302,5.252465,25.792847,0.780216,55.682125
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,23.000000,31.000000,21.000000,21.811676,50.829480,5.933683,69.867126
50%,38.000000,55.000000,32.000000,25.242051,75.474122,6.417942,97.318949
75%,82.000000,68.000000,49.000000,28.200543,86.643042,6.932537,151.076190
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [ ]:
final = final[[ 'N', 'P', 'K','temperature', 'humidity', 'ph', 'rainfall', 'soil','label']]

In [ ]:
final.to_csv("./FinalcropPrediction.csv",index=False)

# fertilizer prediction dataset

In [ ]:
ferti=pd.read_csv("../input/fertilizer-npk/inorganic_fertilizers_npk_value.csv",encoding ='latin1')
ferti.head()

                              Fertilizer   N   P  K
0                   Diammonium Phosphate  18  46  0
1                   Diammonium Phosphate  16  44  0
2           ÿAmmonium Phosphate Sulphate  16  20  0
3           ÿAmmonium Phosphate Sulphate  20  20  0
4  ÿAmmonium Phosphate Sulphate Nitrateÿ  20  20  0

In [ ]:
ferti['P']=ferti['P']*3
ferti['K']=ferti['K']*3
ferti['N']=ferti['N']*3
ferti.head()

                              Fertilizer   N    P  K
0                   Diammonium Phosphate  54  138  0
1                   Diammonium Phosphate  48  132  0
2           ÿAmmonium Phosphate Sulphate  48   60  0
3           ÿAmmonium Phosphate Sulphate  60   60  0
4  ÿAmmonium Phosphate Sulphate Nitrateÿ  60   60  0

In [ ]:
ferti.describe()

               N           P           K
count  51.000000   51.000000   51.000000
mean   47.352941   72.352941   37.176471
std    15.087509   39.136593   35.694092
min     0.000000    0.000000    0.000000
25%    37.500000   45.000000    0.000000
50%    45.000000   60.000000   42.000000
75%    58.500000   90.000000   57.000000
max    84.000000  183.000000  135.000000

In [ ]:
from sklearn.svm import SVC   
clf = SVC(kernel='linear')

In [ ]:
data=np.asarray(ferti)
x=data[:,1:4]
y=data[:,0:1]
clf.fit(x, y)

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVC(kernel='linear')

In [ ]:
clf.predict([[50,50,50]])

array(['N.P.K. (17-17-17)'], dtype=object)